img{
    width: 80px;
    height: 50px;
}
.dashboard{
    margin-top: 10px;
    height: 80vh;
}
.paises .datos{
    height:80%
}
.datos .col-6{
    margin-bottom: 5px;
}
.card{
    height:200px;
}
.card-p{
    border-radius:solid #0000 1px;
    min-height: 50px;
    height:auto;
}
.card-d{
    height:200px;
    max-height: auto;
}