<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Correo Electrónico</th>
        <th scope="col">Fecha de Registro</th>
        <th scope="col">Último Login</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.createdAt | date:'mediumDate'}}</td>
        <td>{{user.login | date:'medium'}}</td>
      </tr>
    </tbody>
  </table>